<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
<title>ToDoリスト編集</title>
</head>
<body>
    <div class="container">
        <h1 class="my-5">ToDo編集</h1>
        <form th:action="@{/edit}" th:object="${customerForm}" method="post">
            <table class="table table-bordered table-hover col-6">
                <tr class="form-group">
                    <th class="align-middle">リスト</th>
                    <td><input type="text" class="form-control" name="name" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"><span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td>
                </tr>
                <tr class="form-group">
                    <th>日付</th>
                    <td><input type="text" class="form-control" name="create_date" th:field="*{create_date}" th:classappend="${#fields.hasErrors('create_date')} ? 'is-invalid'"><span class="text-danger" th:if="${#fields.hasErrors('create_date')}" th:errors="*{create_date}"></span></td>
                </tr>
            </table>
            <input type="submit" class="btn btn-outline-dark mt-3" name="back" value="戻る">
            <input type="submit" class="btn btn-primary mt-3" name="regist" value="実行">
            <!---------- ポイント1 ---------->
            <input type="hidden" name="id" th:value="${param.id[0]}">
        </form>
    </div>
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>